<configuration>
	<configSections>
 </configSections>
 <connectionStrings>
  <add name="MyConnectionString" connectionString="Server=ICS-LT-841G3F3;Database=trainingdb;User Id=jayaa@infinite.com;Password=india@123;"
   providerName="System.Data.SqlClient" />
  <add name="linq_to_sql.Properties.Settings.trainingdbConnectionString"
   connectionString="Data Source=ICS-LT-841G3F3;Initial Catalog=trainingdb;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>
